<h4 class="caps mt5 mb3">Downloads</h4>
<div class="guidelines clearfix">
  <img src="{{ site.baseurl }}/assets/img/guidelines-cover.png" class="left mr3" alt="">
  <div class="overflow-hidden">
    <h5 class="h4 mt0">Federal Plain Language Guidelines</h5>
    <p class="usa-text-small mb1">
      Published: March 2011<br>
      Revised: May 2011
    </p>
    <h6 class="my0">Download:</h6>
    <ul class="usa-unstyled-list">
      <li class="inline-block"><a href="{{ site.baseurl }}/media/FederalPLGuidelines.pdf" class="usa-label usa-text-small white bg-blue sans-serif text-decoration-none">PDF</a></li>
      <li class="inline-block"><a href="{{ site.baseurl }}/media/FederalPLGuidelines.docx" class="usa-label usa-text-small white bg-blue sans-serif text-decoration-none">Word</a></li>
    </ul>
  </div>
</div>
