// _Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
}

// Body

body {
  background-color: $color-warm-white-3
}

// Footer

.usa-footer {
  font-size: 1.4rem;

  h3 {
    font-size: 1.6rem;
  }

  p, li {
    line-height: 1.7;
  }
}

.usa-footer-secondary_section {
  background-color: transparent;
}

// Header

.usa-logo-text {
    font-weight: 400;
}

@media screen and (min-width: 951px) {
  .usa-nav-primary > li > a {
    font-weight: 400;
  }

  .usa-nav-primary a.current-parent span, {
      border-bottom: 0.7rem solid #0071bc;
      padding-bottom: 1rem;
  }
}

// Main content

main.usa-section {
  padding: 0;
  @media screen and #{$breakpoint-md}{
    padding: 0;
  }
  @media screen and #{$breakpoint-lg}{
    padding: $grid-4;
  }
}

.usa-layout-docs-main_content {
  background-color: white;
  padding: $grid-2;
}

// Side navigation

.usa-sidenav-list a.current-parent {
    border-left: 0.4rem solid #0071bc;
    color: #0071bc;
    font-weight: 700;
    padding-left: 1.4rem;
}

.usa-sidenav-sub_list .usa-sidenav-sub_list .usa-sidenav-sub_list a {
    padding-left: 4.8rem;
}

// Top nav

.usa-nav {
  background-color: transparent;
}
