// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
}

// Header

.usa-logo-text {
    font-weight: 400;
}

@media screen and (min-width: 951px) {
  .usa-nav {
      padding-bottom: 5rem;
  }

  .usa-nav-primary > li > a {
    font-weight: 400;
  }

  .usa-nav-primary a.current-parent span, {
      border-bottom: 0.7rem solid #0071bc;
      padding-bottom: 1rem;
  }
}

// Side navigation

.usa-sidenav-list a.current-parent {
    border-left: 0.4rem solid #0071bc;
    color: #0071bc;
    font-weight: 700;
    padding-left: 1.4rem;
}

.usa-sidenav-sub_list .usa-sidenav-sub_list .usa-sidenav-sub_list a {
    padding-left: 4.8rem;
}

// Footer

.usa-footer {
  font-size: 1.4rem;

  .usa-footer-secondary_section {
    background-color: $color-gray-lightest;
  }

  h3 {
    font-size: 1.6rem;
  }

  p, li {
    line-height: 1.7;
  }

  a img {
    height: 1.5rem;
    margin-right: 0.4rem;
    position: relative;
    top: 2px;
    vertical-align: baseline;
  }
}
