// Web Design Standards

$font-path: '../uswds/fonts';
$image-path: '../uswds/img';

$font-sans: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$font-mono: 'Roboto Mono', 'Bitstream Vera Sans Mono', 'Consolas', 'Courier', monospace;

$xsmall-screen:   368px;
$small-screen:    600px;
$medium-screen:   720px;
$large-screen:    960px;
$xlarge-screen:   1200px;

$nav-width: $large-screen;

// Colors

$color-coastal-50: #5558D5;
$color-coastal-60: #3435A8;
$color-coastal-70: #2B2C88;
$color-gold-10: #FFC116;
$color-gold-20: #F4B400;
$color-gray-90: #222;
$color-warm-white-3: #F7F7F6;
$color-black-100: #000;

// Semantic colors

$color-base: $color-gray-90;
$color-primary: $color-coastal-50;
$color-primary-darker: $color-coastal-60;
$color-primary-darkest: $color-coastal-70;
