// Web Design Standards

$font-path: '../uswds/fonts';
$image-path: '../uswds/img';

$font-sans: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$font-mono: 'Roboto Mono', 'Bitstream Vera Sans Mono', 'Consolas', 'Courier', monospace;

$small-screen:  481px !default;
$medium-screen: 600px !default;
$large-screen:  951px !default;

$color-blue: #5481A6;
$color-blue-darker: #416480;
$color-blue-darkest: #213240;
$color-blue-light: #C1CBD9;
$color-tan: #F2D18E;
$color-tan-light: #FFDC95;
$color-grey: #F3F3F0;

$color-primary: $color-blue;
$color-primary-darker: $color-blue-darker;
$color-primary-darkest: $color-blue-darkest;


$color-visited: $color-primary;
