// Web Design Standards

$font-path: '../uswds/fonts';
$image-path: '../uswds/img';

$font-sans: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$font-mono: 'Roboto Mono', 'Bitstream Vera Sans Mono', 'Consolas', 'Courier', monospace;

$large-screen: 800px;

// Colors

$color-coastal-50: #5558D5;
$color-gray-90: #222;
$color-warm-white-3: #F7F7F6;
$color-black-100: #000;

// Semantic colors

$color-primary: $color-coastal-50;
$color-primary-darker: $color-coastal-50;
