@media print {
  @page {
    margin: 2cm;
  }

  *,
  *::before,
  *::after,
  *::first-letter,
  p::first-line,
  div::first-line,
  blockquote::first-line,
  li::first-line {
    background: transparent !important;
    box-shadow: none !important;
    color: $color-black !important;
    text-shadow: none !important;
  }

  .icon-large {
    border: 1px solid $color-black;
  }

  .icon-large,
  .no-print,
  .pagination,
  .usa-banner,
  .usa-button,
  .usa-nav,
  .usa-menu-btn,
  .usa-skipnav,
  .usa-overlay,
  .usa-alert,
  .usa-layout-docs-sidenav,
  .usa-footer {
    display: none !important;
  }

  .usa-content * {
    max-width: none !important;
  }

  .usa-layout__docs-main-content {
    // scss-lint:disable SelectorFormat
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .usa-navbar {
    border: 0;
  }

  .usa-layout-docs {
    a {
      text-decoration: underline;
      word-wrap: break-word;
    }

    a[href^="http"]::after {
      // scss-lint:disable QualifyingElement
      content: ' <" attr(href) "> ';
    }
  }
}
