// Basscss

$bold-font-weight: $font-bold;
$caps-letter-spacing: 0.1em;

$border-color: #d5e5ed;
$border-radius: 3px;
$border-width: 1px;

$breakpoint-sm: "(min-width: #{$small-screen})";
$breakpoint-md: "(min-width: #{$medium-screen})";
$breakpoint-lg: "(min-width: #{$large-screen})";

$breakpoint-xs: "(max-width: #{$small-screen})";
$breakpoint-sm-md: "(min-width: #{$small-screen}) and (max-width: #{$medium-screen})";
$breakpoint-md-lg: "(min-width: #{$medium-screen}) and (max-width: #{$large-screen})";

$color-blue-light: #ebf3f7;
$color-tan: #faf8f2;
$color-tan-dark: #f0eee8;

$h1: $h1-font-size;
$h2: $h2-font-size;
$h3: $h3-font-size;
$h4: $h4-font-size;
$h5: $h5-font-size;
$h6: $h6-font-size;

$space-1: $spacing-x-small;
$space-2: $spacing-small;
$space-3: $spacing-md-small;
$space-4: $spacing-medium;
$space-5: $spacing-large;

$theme-identifier-background-color: darken($color-primary, 30%);
$theme-identifier-color: #a9aeb1;
$theme-identifier-text-color: white;
$theme-identifier-text-color-secondary: #dfe1e2;
$theme-identifier-link-color: #f0f0f0;
