.usa-layout-docs {
  padding: $spacing-md-small;

  h1 {
    margin-top: 0;
  }

  &.usa-content p,
  &.usa-content ul,
  &.usa-content ol {
    max-width: none;
  }
}

.usa-layout-docs-main_content {
  padding-right: $spacing-large;
}

@media (max-width: #{$large-screen}) {
  .usa-layout-docs-main_content {
    float: none;
    width: 100%;
  }
}

@media #{$breakpoint-md} {
  .usa-layout-docs {
    padding: $spacing-medium;
  }
}
