.usa-section {
  &.home-grid a {
    text-decoration: none;

    h3 {
      color: $color-primary;
      margin-top: 0;
    }

    p {
      color: $color-base;
    }

    .icon-large {
      float: left;
      margin-right: $spacing-md-small;
    }

    &:hover {
      h3 {
        color: $color-primary-darker;
        text-decoration: underline;
      }

      .icon-large .fa {
        color: $color-primary-darker;
      }
    }
  }

  &.home-hero h1 {
    max-width: 80rem;
  }

  &.home-law p {
    max-width: $lead-max-width;
  }
}

@media #{$breakpoint-md} {
  .usa-section {
    &.home-grid a {
      h3 {
        margin-top: $spacing-md-small;
      }

      .icon-large {
        float: none;
        margin-right: 0;
      }
    }
  }
}
