.usa-section {
  &.home-grid {
    a {
      font-family: $font-sans;
      text-decoration: none;
    }

    h3 {
      margin-top: 0;
    }

    .icon-large {
      float: left;
      margin-right: $spacing-md-small;
    }
  }

  &.home-hero h1 {
    max-width: 80rem;
  }

  &.home-law p {
    max-width: $lead-max-width;
  }
}

@media #{$breakpoint-md} {
  .usa-section {
    &.home-grid {
      h3 {
        margin-top: $spacing-md-small;
      }

      .icon-large {
        float: none;
        margin-right: 0;
      }
    }
  }
}
