---
# Only the main Sass file needs front matter (the dashes are enough)
---

$font-path: '../uswds/fonts';
$image-path: '../uswds/img';

$font-sans: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$font-mono: 'Roboto Mono', 'Bitstream Vera Sans Mono', 'Consolas', 'Courier', monospace;

@import 'uswds/all';
@import "all";
