<footer class="usa-footer usa-footer-medium site" role="contentinfo">

  {% unless page.top == false %}
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  {% endunless %}

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-two-thirds" style="padding-right:10%">
        <h3>About this site</h3>
        <p>
          The Plain Language Action and Information Network develops and maintains the content of this site with support from the <a href="https://gsa.gov">General Services Administration</a>.
        </p>
        <p>
          Help us improve this site on <a href="https://github.com/GSA/plainlanguage.gov">GitHub</a>.
        </p>
      </div>
      <div class="usa-width-one-third">
        <h3>Policies and information</h3>
        <ul class="usa-unstyled-list">
          <li><a href="/">Privacy policy</a></li>
          <li><a href="/">FOIA policy</a></li>
          <li><a href="https://usa.gov">USA.gov</a></li>
          <li><a href="https://usability.gov">Usability.gov</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
