.usa-layout-docs {
  .usa-accordion > li,
  .usa-accordion-bordered > li {
    font-family: $font-serif;
  }

  .usa-accordion-bordered .usa-accordion-content {
    border-color: $color-tan-dark;
  }

  .usa-accordion-button {
    background-color: $color-tan-dark;
  }
}
