.usa-banner {
  background-color: $color-blue-light;
  border: 0;
  font-family: $font-sans;
  font-feature-settings: 'ss01' 1, 'kern' 1;
}

@media #{$breakpoint-md} {
  .usa-banner-inner {
    padding: 0 $spacing-medium 2px;
  }
}
