.usa-banner {
  background-color: $color-tan-dark;
  border: 0;
  font-family: $font-sans;
}

.usa-banner-button {
  color: $color-primary-darkest;
}

@media #{$breakpoint-sm} {
  .usa-banner-header {
    padding-top: .9rem;
    padding-bottom: .9rem;
  }
}
