.usa-banner {
  background-color: $color-blue-light;
  border: 0;
  font-family: $font-sans;
  font-size: 1rem;
  padding-bottom: 0;
}

.usa-banner-header {
  padding-bottom: 0;
  padding-top: 0;

  .usa-banner-inner {
    img {
      margin-right: 0.7rem;
      width: 2rem;
    }

    > p {
      display: inline-block;
      margin-bottom: 2px;
      margin-top: 2px;
    }
  }
}

@media #{$breakpoint-md} {
  .usa-banner-inner {
    padding: 0 $spacing-medium;
  }
}
