.sticky-nav .usa-header {
  border-color: $border-color;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9000;
}

.usa-logo-text {
  font-family: $font-sans;
  font-size: $h3-font-size;
  font-weight: 300;

  a:hover {
    text-decoration: none;
  }

  img {
    width: 24px;
  }
}

.usa-nav-primary {
  margin-top: 60px;

  > li {
    font-size: $h3-font-size;

    button,
    .usa-nav-link {
      padding-left: $spacing-x-small;
    }

    ul + a {
      display: none;
    }
  }

  a.usa-current { // scss-lint:disable QualifyingElement
    border-left: 0;
  }
}

.usa-nav-submenu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  a,
  .usa-current {
    padding-left: $spacing-md-small;
  }

  .current-parent {
    color: $color-primary;
    font-weight: $font-bold;
  }

  .usa-nav-submenu a {
    padding-left: $spacing-medium;
  }
}

.usa-navbar {
  background-color: $color-white;
  border-color: $border-color;
}

@media #{$breakpoint-md} {
  .usa-logo {
    margin-left: $spacing-medium;
  }
}

@media #{$breakpoint-lg} {
  .usa-header {
    position: static;
  }

  .usa-header-extended {
    .usa-nav {
      border-color: $border-color;
    }
  }

  .usa-logo {
    margin-left: 0;

    em {
      font-size: $h2-font-size;
      font-weight: 300;
    }

    img {
      width: 36px;
    }
  }

  .usa-nav-primary {
    margin-top: 0;

    > li ul + a {
      display: block;
    }

    > li > .usa-nav-link {
      color: $color-base;
      font-family: $font-serif;
      font-size: $h4-font-size;
      font-weight: $font-normal;
      padding-left: $spacing-md-small;

      &.current-parent,
      &.usa-current {
        font-weight: $font-bold;
      }

      &:hover,
      &.current-parent,
      &.usa-current {
        color: $color-primary-darker;
        padding-left: $spacing-md-small;

        span {
          border: 0;
          padding-bottom: 0;
        }
      }
    }

    .usa-accordion-button,
    .usa-nav-submenu {
      display: none;
    }
  }

  .usa-nav-secondary-links a {
    color: $color-base;
  }
}
