.usa-header {
  border-color: $border-color;
}

.usa-logo-text {
  font-family: $font-sans;
  font-size: $h3-font-size;
  font-weight: 300;

  a:hover {
    text-decoration: none;
  }

  img {
    width: 24px;
  }
}

.usa-nav-primary {
  margin-top: 60px;

  > li > .current-parent {
    font-weight: $font-bold;
  }

  a.usa-current {
    border-left: 0;
  }

  > li {
    font-size: $h3-font-size;

    ul + a {
      display: none;
   }
  }

  button,
  .usa-nav-link {
    padding-left: $spacing-x-small;
  }
}

.usa-nav-submenu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  a,
  .usa-current {
    padding-left: $spacing-md-small;
  }

  .current-parent {
    color: $color-primary;
    font-weight: $font-bold;
  }

  .usa-nav-submenu a {
    padding-left: $spacing-medium;
  }
}

.usa-navbar {
  border-color: $border-color;
}

@media #{$breakpoint-md} {
  .usa-logo {
    margin-left: $spacing-medium;
  }
}

@media #{$breakpoint-lg} {
  .usa-header-extended {
    em {
      font-size: 2.5rem;
      font-weight: 300;
    }

    .usa-nav {
      border-color: $border-color;
    }
  }

  .usa-logo {
    margin-left: 0;
  }

  .usa-logo-text {
    img {
      width: 36px;
    }
  }

  .usa-nav-primary {
    margin-top: 0;

    > li ul + a {
      display: block;
    }

    > li > a,
    .usa-nav-link {
      color: $color-base;
      font-family: $font-serif;
      font-size: $h4-font-size;
      font-weight: $font-normal;
      padding-left: $spacing-md-small;

      &:hover,
      &.current-parent,
      &.usa-current {
        color: $color-primary-darker;
        padding-left: $spacing-md-small;

        span {
          border: 0;
          padding-bottom: 0;
        }
      }
    }

    .usa-accordion-button,
    .usa-nav-submenu {
      display: none;
    }
  }

  .usa-nav-secondary-links a {
    color: $color-base;
  }
}
