.usa-header {
  border: 0;
}

.usa-logo-text {
  font-family: $font-sans;
  font-size: $h4-font-size;
}

.usa-nav-primary {
  margin-top: 60px;

  a.usa-current {
    border-left: 0;
    font-weight: 700;
    padding-left: $spacing-x-small;
  }

  & > li {
    font-size: $h3-font-size;
  }

  & > li ul + a {
    display: none;
  }

  button,
  .usa-nav-link {
    padding-left: $spacing-x-small;
  }
}

.usa-nav-submenu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  a,
  a.usa-current {
    padding-left: $spacing-md-small;
  }

  a.current-parent {
    color: $color-primary;
    font-weight: 700;
  }
}

.usa-navbar {
  border-color: $border-color;
}

@media #{$breakpoint-lg} {
  .usa-header-extended {
    em {
      font-size: 2.5rem;
      font-weight: 300;
    }

    .usa-nav {
      background-color: $color-tan;
      border-color: $border-color;
    }
  }

  .usa-nav-primary {
    margin-top: 0;

    & > li ul + a {
      display: block;
    }

    & > li > a,
    .usa-nav-link {
      color: $color-base;
      font-family: $font-serif;
      font-size: $h4-font-size;
      padding-left: $spacing-md-small;

      &:hover,
      &.current-parent,
      &.usa-current {
        color: $color-primary-darker;
        padding-left: $spacing-md-small;

        span {
          border-bottom: 0.7rem solid $color-primary;
          padding-bottom: $spacing-small;
        }
      }
    }
  }

  .usa-nav-secondary-links a {
    color: $color-base;
  }

  .usa-accordion-button,
  .usa-nav-submenu {
    display: none;
  }
}
