.icon-large {
  align-items: center;
  background-color: $color-blue-light;
  border-radius: 50%;
  display: flex;
  height: 7rem;
  width: 7rem;

  .fa {
    color: $color-primary-darkest;
    font-size: 3.5rem;
    margin: 0 auto;
  }
}

.icon-small {
  height: 1.5rem;
  margin-right: 0.4rem;
  position: relative;
  top: 2px;
  vertical-align: baseline;
}
