.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto $spacing-md-small;
  display: inline-block;
  height: $spacing-md-small;
  position: relative;
  vertical-align: text-top;
  width: $spacing-md-small;
}

.icon-large {
  background-color: $color-blue-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 3.5rem;
  border-radius: 50%;
  display: inline-block;
  height: 7rem;
  position: relative;
  width: 7rem;
}

h1 .icon,
.h1 .icon {
  background-size: auto $h1-font-size;
  height: $h1-font-size;
  width: $h1-font-size;
}

h2 .icon,
.h2 .icon {
  background-size: auto $h2-font-size;
  height: $h2-font-size;
  width: $h2-font-size;
}

h3 .icon,
.h3 .icon {
  background-size: auto $h3-font-size;
  height: $h3-font-size;
  width: $h3-font-size;
}

h4 .icon,
.h4 .icon {
  background-size: auto $h4-font-size;
  height: $h4-font-size;
  width: $h4-font-size;
}

h5 .icon,
.h5 .icon {
  background-size: auto $h5-font-size;
  height: $h5-font-size;
  width: $h5-font-size;
}

h6 .icon,
.h6 .icon {
  background-size: auto $h6-font-size;
  height: $h6-font-size;
  width: $h6-font-size;
}

// Primary color

.icon-gavel {
  background-image: url('../img/icons/primary/gavel.svg');
}

.icon-graduation-cap {
  background-image: url('../img/icons/primary/graduation-cap.svg');
}

.icon-map-signs {
  background-image: url('../img/icons/primary/map-signs.svg');
}

.icon-pencil {
  background-image: url('../img/icons/primary/pencil.svg');
}

// Base color

.icon-envelope {
  background-image: url('../img/icons/base/envelope-o.svg');
}

.icon-facebook {
  background-image: url('../img/icons/base/facebook-f.svg');
}

.icon-github {
  background-image: url('../img/icons/base/github.svg');
}

.icon-twitter {
  background-image: url('../img/icons/base/twitter.svg');
}

.icon-instagram {
  background-image: url('../img/icons/base/instagram.svg');
}

.icon-pinterest {
  background-image: url('../img/icons/base/pinterest.svg');
}

.icon-linkedin {
  background-image: url('../img/icons/base/linkedin-in.svg');
}
