.contact-bar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.usa-identifier {
  background-color: $theme-identifier-background-color;
  color: $theme-identifier-color;
  padding-top: 1rem;
  padding-bottom: 3rem;

  font-family: $font-sans;
  font-weight: 400;

  a {
    color: $theme-identifier-color;
  }

  ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.usa-identifier__required-links-list a {
  font-size: 1.6rem;
}

a.usa-identifier__required-link {
  color: $theme-identifier-color;

	 &:hover {
     color: $theme-identifier-font-color-secondary;
   }
}

.usa-identifier__container {
  @media #{$breakpoint-lg} {
    display: flex;
    align-items: center;
  }
}

.usa-identifier__logos {
	padding-top: 1rem;
  padding-right: 2rem;

	@media #{$breakpoint-lg} {
    padding-right: 2rem;
	}
}

.usa-identifier__logo {
  width: 5rem;
  display: block;
}

.usa-identifier__identity-disclaimer a,
.usa-link--external,
a.usa-identifier__identity-disclaimer-link {
  font-weight: 700;
}

.usa-identifier__identity-disclaimer-link a,
.usa-identifier__identity-disclaimer a:visited {
  color: $theme-identifier-font-color-secondary;
}

a.usa-identifier__identity-disclaimer-link:hover,
.identifier__identity-disclaimer a:hover {
  color: #f0f0f0;
}

.usa-identifier__identity {
  padding-top: 1rem;

	@media #{$breakpoint-lg} {
		padding-top: 0;
	}

	p {
		padding: 0;
		line-height: 1;
		margin: .5rem 0 0 0;
	}
}

.usa-identifier__identity-domain {
  color: $theme-identifier-color;
  font-family: $font-sans;
  font-weight: 400;
}

.usa-identifier__identity-disclaimer {
  color: $theme-identifier-font-color;
  font-family: $font-sans;
  font-weight: 700;
}

.identifier-links {
  padding: 1rem 0;
  align-items: baseline;
}

.usa-identifier__required-links-item,
.usa-identifier__required-links-item:last-child {
  margin-bottom: .75rem;
}

.usa-identifier__required-links-item {
	@media #{$breakpoint-lg} {
		margin-bottom: .5rem;
	}
}

.usa-identifier__usagov-description {
  color: $theme-identifier-font-color;
}

.usa-identifier__section--usagov {
  padding-top: 1.5rem;
}

.usa-link--external {
  padding: 0;

	@media #{$breakpoint-lg} {
    padding-left: 0.5ch;
	}
}

a.usa-identifier__identity-disclaimer-link {
  color: $theme-identifier-font-color-secondary;
}
