.m5 {
  margin: $space-5;
}
.mt5 {
  margin-top: $space-5;
}
.mr5 {
  margin-right: $space-5;
}
.mb5 {
  margin-bottom: $space-5;
}
.ml5 {
  margin-left: $space-5;
}
.mx5 {
  margin-left: $space-5;
  margin-right: $space-5;
}
.my5 {
  margin-bottom: $space-5;
  margin-top: $space-5;
}
.mxn5 {
  margin-left: -$space-5;
  margin-right: -$space-5;
}

@media #{$breakpoint-sm} {
  .sm-m5 {
    margin: $space-5;
  }
  .sm-mt5 {
    margin-top: $space-5;
  }
  .sm-mr5 {
    margin-right: $space-5;
  }
  .sm-mb5 {
    margin-bottom: $space-5;
  }
  .sm-ml5 {
    margin-left: $space-5;
  }
  .sm-mx5 {
    margin-left: $space-5;
    margin-right: $space-5;
  }
  .sm-my5 {
    margin-bottom: $space-5;
    margin-top: $space-5;
  }
  .sm-mxn5 {
    margin-left: -$space-5;
    margin-right: -$space-5;
  }
}

@media #{$breakpoint-md} {
  .md-m5 {
    margin: $space-5;
  }
  .md-mt5 {
    margin-top: $space-5;
  }
  .md-mr5 {
    margin-right: $space-5;
  }
  .md-mb5 {
    margin-bottom: $space-5;
  }
  .md-ml5 {
    margin-left: $space-5;
  }
  .md-mx5 {
    margin-left: $space-5;
    margin-right: $space-5;
  }
  .md-my5 {
    margin-bottom: $space-5;
    margin-top: $space-5;
  }
  .md-mxn5 {
    margin-left: -$space-5;
    margin-right: -$space-5;
  }
}

@media #{$breakpoint-lg} {
  .lg-m5 {
    margin: $space-5;
  }
  .lg-mt5 {
    margin-top: $space-5;
  }
  .lg-mr5 {
    margin-right: $space-5;
  }
  .lg-mb5 {
    margin-bottom: $space-5;
  }
  .lg-ml5 {
    margin-left: $space-5;
  }
  .lg-mx5 {
    margin-left: $space-5;
    margin-right: $space-5;
  }
  .lg-my5 {
    margin-bottom: $space-5;
    margin-top: $space-5;
  }
  .lg-mxn5 {
    margin-left: -$space-5;
    margin-right: -$space-5;
  }
}
