.p5  { padding:        $space-5 }
.pt5 { padding-top:    $space-5 }
.pr5 { padding-right:  $space-5 }
.pb5 { padding-bottom: $space-5 }
.pl5 { padding-left:   $space-5 }
.py5 { padding-top:    $space-5; padding-bottom: $space-5 }
.px5 { padding-left:   $space-5; padding-right:  $space-5 }

@media #{$breakpoint-sm} {
  .sm-p5  { padding:        $space-5 }
  .sm-pt5 { padding-top:    $space-5 }
  .sm-pr5 { padding-right:  $space-5 }
  .sm-pb5 { padding-bottom: $space-5 }
  .sm-pl5 { padding-left:   $space-5 }
  .sm-px5 { padding-left:   $space-5; padding-right:  $space-5 }
  .sm-py5 { padding-top:    $space-5; padding-bottom: $space-5 }
}

@media #{$breakpoint-md} {
  .md-p5  { padding:        $space-5 }
  .md-pt5 { padding-top:    $space-5 }
  .md-pr5 { padding-right:  $space-5 }
  .md-pb5 { padding-bottom: $space-5 }
  .md-pl5 { padding-left:   $space-5 }
  .md-px5 { padding-left:   $space-5; padding-right:  $space-5 }
  .md-py5 { padding-top:    $space-5; padding-bottom: $space-5 }
}

@media #{$breakpoint-lg} {
  .lg-p5  { padding:        $space-5 }
  .lg-pt5 { padding-top:    $space-5 }
  .lg-pr5 { padding-right:  $space-5 }
  .lg-pb5 { padding-bottom: $space-5 }
  .lg-pl5 { padding-left:   $space-5 }
  .lg-px5 { padding-left:   $space-5; padding-right:  $space-5 }
  .lg-py5 { padding-top:    $space-5; padding-bottom: $space-5 }
}
