.guidelines {
  img {
    border: 3px solid $border-color;
    width: 90px;
  }

  a .usa-label:hover {
    background-color: $color-primary-darker;
  }
}

.usa-layout-docs-sidenav {
  overflow-y: auto;

  h3 {
    border-bottom: $border-width solid $border-color;
    margin-bottom: 0;
    padding-bottom: $spacing-small;
  }
}

.usa-sidenav-list a {
  font-family: $font-serif;
  padding: $spacing-small 0;

  &.current-parent {
      border-left: 0;
      color: $color-base;
      font-weight: 700;
      padding-left: 0;
  }

  &:hover {
    background-color: $color-white;
    color: $color-primary-darker;
  }
}

.usa-sidenav-list > li {
  border-color: $border-color;
}
.usa-sidenav-sub_list a,
.usa-sidenav-sub_list a:hover,
.usa-sidenav-sub_list a.usa-current {
  padding-left: $spacing-md-small;
}

.usa-sidenav-sub_list a:hover,
.usa-sidenav-sub_list a.usa-current {
  color: $color-primary-darker;
}

.usa-sidenav-sub_list a.usa-current {
  font-weight: 700;
}
