html {
  color: $color-base;
  font-family: $font-serif;
}

a {
  color: $color-primary;

  &:hover {
    color: $color-primary-darker;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
  font-feature-settings: 'ss01' 1, 'kern' 1;
  font-weight: $font-bold;
}

h1 {
  font-size: $h2-font-size;
}

.sans-serif {
  font-family: $font-sans;
  font-feature-settings: 'ss01' 1, 'kern' 1;
}

.home .usa-font-lead {
  border-left: .7rem solid $color-primary;
  padding-left: $spacing-medium;
}

.usa-nav-link {
  -webkit-font-smoothing: auto;
}

@media #{$breakpoint-sm} {
  h1 {
    font-size: $h1-font-size;
  }
}
