.border-tan {
  border-color: #E3E2DC;
}

.shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  &:before,
  &:after {
    content: '';
    display: table;
  }
}

.lg-show {
  display: none !important;
}

@media #{$breakpoint-lg} {
  .lg-show {
    display: block !important;
  }
}
