.arrow::after {
  content: '\00a0 \00BB';
  display: inline-block;
}

.border-tan {
  border-color: #E3E2DC;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  &:before,
  &:after {
    content: '';
    display: table;
  }
}

.lg-show {
  display: none !important;
}

@media #{$breakpoint-lg} {
  .lg-show {
    display: block !important;
  }
}
