.arrow::after {
  content: '\00a0\00BB';
  display: inline;
}

.sticky {
  position: sticky;
  top: 0;
}

.lg-show {
  display: none !important;
}

.base {
  color: $color-base;
}

.white {
  color: $color-white;
}

@media #{$breakpoint-lg} {
  .lg-show {
    display: block !important;
  }
}
