---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head>
    {% unless site.env == "production" %}
      <meta name="robots" content="noindex, nofollow">
    {% endunless %}
    {% include meta.html %}
    {% include styles.html %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48605964-51', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('set', 'forceSSL', true);
      ga('send', 'pageview');
    </script>
  </head>
  <body class="lg-flex flex-column {{ layout.class }} {{ page.class }} {{ page.slug }}" style="min-height:100vh">
    {% include skipnav.html %}
    {% include header.html %}
    <div class="flex-auto">
      {% include alert.html %}
      <main id="main-content"{% for _attr in layout.main %} {{ _attr[0] }}="{{ _attr[1] }}"{% endfor %}>
      {{ content }}
      </main>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
    <!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
    <script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA" id="_fed_an_ua_tag"></script>
  </body>
</html>
