---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head>
    {% unless site.env == "production" %}
      <meta name="robots" content="noindex, nofollow">
    {% endunless %}
    {% if page.twitter_card == "large" %}
      <meta name="twitter:card" content="summary_large_image">
    {% else %}
      <meta name="twitter:card" content="summary">
    {% endif %}
    {% if page.title %}
      <meta property="og:title" content="{{ site.title | xml_escape }} | {{ page.title | xml_escape }}" />
      <meta name="twitter:title" content="{{ site.title | xml_escape }} | {{ page.title | xml_escape }}">
    {% else %}
      <meta property="og:title" content="{{ site.title | xml_escape }}" />
      <meta property="twitter:title" content="{{ site.title | xml_escape }}" />
    {% endif %}
    {% if page.description %}
      <meta name="description" content="{{ page.description | xml_escape }}">
      <meta property="og:description" content="{{ page.description | xml_escape }}" />
      <meta property="twitter:description" content="{{ page.description | xml_escape }}" />
    {% else %}
      <meta name="description" content="{{ site.description | xml_escape }}">
      <meta property="og:description" content="{{ site.description | xml_escape }}" />
      <meta property="twitter:description" content="{{ site.description | xml_escape }}" />
    {% endif %}
    {% if page.image %}
      <link rel="image_src" href="{{ page.image | absolute_url }}">
      <meta name="image" content="{{ page.image | absolute_url }}">
      <meta property="og:image" content="{{ page.image | absolute_url }}" />
      <meta name="twitter:image" content="{{ page.image | absolute_url }}">
    {% else %}
      <link rel="image_src" href="{{ site.image | absolute_url }}">
      <meta name="image" content="{{ site.image | absolute_url }}">
      <meta property="og:image" content="{{ site.image | absolute_url }}" />
      <meta name="twitter:image" content="{{ site.image | absolute_url }}">
    {% endif %}

    <!-- Sitemap-->
    <link rel="sitemap" type="application/xml" title="{{ site.title }} Sitemap" href="{{ "/sitemap.xml" | absolute_url }}" />

    {% include meta.html %}
    {% include styles.html %}

    <!-- Added to verify site for google search -->
    <meta name="google-site-verification" content="F3dlMYIP_EE5aoYppl8sWTdIN9-2Sgl6cAY0yFSpKy0" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48605964-51', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('set', 'forceSSL', true);
      ga('send', 'pageview');
    </script>
  </head>
  <body class="lg-flex flex-column {{ layout.class }} {{ page.class }} {{ page.slug }}" style="min-height:100vh">
    {% include skipnav.html %}
    {% include header.html %}
    <div class="flex-auto">
      {% include alert.html %}
      <main id="main-content"{% for _attr in layout.main %} {{ _attr[0] }}="{{ _attr[1] }}"{% endfor %}>
      {{ content }}
      </main>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
    <!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
    <script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA&subagency=TTS" id="_fed_an_ua_tag"></script>
  </body>
</html>
