---
layout: base
main:
  class: usa-grid usa-section usa-content usa-layout-docs
---
{% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
{% if sidenav %}
<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
  {% include sidenav.html links=sidenav %}
</aside>

<div class="usa-width-three-fourths usa-layout-docs-main_content{% if page.sources %} with-sources{% endif %}">
  {% if page.title %}
    <h1>{{ page.title }}</h1>
  {% endif %}
  {% if page.intro %}
    <p class="usa-font-lead">{{ page.intro | markdownify | remove: '<p>' | remove: '</p>' }}</p>
  {% endif %}

  {{ content }}

  {% if page.sources %}
    <div class="sources">
      <h2>Sources</h2>
      <ul class="sources-collection">
        {% for source in page.sources%}
        <li class="sources-source">{{ source | markdownify | remove: '<p>' | remove: '</p>' }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

</div>
{% else %}
<div class="usa-layout-docs-main_content">
  {% if page.title %}
    <h1>{{ page.title }}</h1>
  {% endif %}
  {% if page.intro %}
    <p class="usa-font-lead">{{ page.intro }}</p>
  {% endif %}

  {{ content }}
</div>
{% endif %}
