---
layout: base
main:
  class: usa-grid usa-content usa-layout-docs
---

<div class="clearfix">
  {% for section in site.data.header.primary.links %}
    {% if page.sidenav and section.links == page.sidenav %}
      <p class="lg-hide h6 caps mb1">{{ section.text }}</p>
    {% endif %}
  {% endfor %}

  {% if page.title %}
    <h1>{{ page.title }}</h1>
  {% endif %}

  {% if page.sidebar %}
    <div class="usa-width-two-thirds">
  {% endif %}

    {% if page.intro %}
      <p class="usa-font-lead">{{ page.intro }}</p>
    {% endif %}

    {{ content }}

    {% if page.sources %}
      {% include sources.html %}
    {% endif %}

    {% unless page.top == false %}
      <p class="mt5">
        <a href="#">Return to top</a>
      </p>
    {% endunless %}

  {% if page.sidebar %}
  </div>
  <div class="usa-width-one-third">
    {{ page.sidebar | markdownify }}
  </div>
  {% endif %}
</div>
