---
layout: base
main:
  class: usa-grid-full usa-section usa-content usa-layout-docs pt0 sm-pt3
---
{% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
{% if sidenav %}
<aside class="usa-width-one-third usa-layout-docs-sidenav">
  {% include sidenav.html links=sidenav %}
</aside>

<div class="usa-width-two-thirds usa-layout-docs-main_content p3 sm-p4 bg-white rounded">
  {% if page.title %}
    <h1>{{ page.title }}</h1>
  {% endif %}
  {% if page.intro %}
    <p class="usa-font-lead">{{ page.intro }}</p>
  {% endif %}

  {{ content }}

  {% if page.sources %}
    {% include sources.html %}
  {% endif %}

  {% unless page.top == false %}
  <p class="mt5">
    <a href="#">Return to top</a>
  </p>
  {% endunless %}
</div>
{% else %}
<div class="usa-layout-docs-main_content rounded p3 sm-p4">
  {% if page.title %}
    <h1>{{ page.title }}</h1>
  {% endif %}
  {% if page.intro %}
    <p class="usa-font-lead">{{ page.intro }}</p>
  {% endif %}

  {{ content }}

  {% unless page.top == false %}
  <p class="mt5">
    <a href="#">Return to top</a>
  </p>
  {% endunless %}
</div>
{% endif %}
